<header>
  <h1 class="shifted">We are <strong><a href="https://twitter.com/search?q=%23botmakers">#botmakers</a> and bot enthusiasts</strong>!</h1>

  <p class="shifted">
    We make and share <strong>useful, interesting, artistic and friendly</strong> online bots for 
    <a href="https://botwiki.org/tag/twitterbot">Twitter</a>,
    <a href="https://botwiki.org/tag/slackbot">Slack</a>, 
    <a href="https://botwiki.org/bots/#browse-bots-by-network">and other networks</a>.
  </p>
  <p class="shifted">  
    Check out what else
    <a href="https://botwiki.org/projects/">we're working on</a>,
    follow along <a href="https://twitter.com/botwikidotorg">on Twitter</a>,
    and join us on <strong>Slack</strong>!
  </p>
</header>
<form class="shifted" method="POST" action="/invite">
  <input type="email" name="email" placeholder="Enter your email" required>
  <button type="submit">Submit</button>
</form>
<p class="shifted">
  Already a member? <a href="https://botmakers.slack.com/messages">Sign in</a>. <strong>PS:</strong> Here's a <a href="https://github.com/botwiki/botmakers.org/blob/master/BOTS.md">list of bots</a> we're playing with right now.
</p>

<div id="botmakers" class="shifted"></div>
<footer class="shifted">
  <ul>
    <li><strong>Botmakers</strong> is the official <a href="https://botwiki.org/">Botwiki.org</a> community,</li>
    <li>maintained by the <a href="https://github.com/botwiki">Botwiki.org team</a>.</li>
    <li><strong><em>All members must read and follow our <a href="https://github.com/botwiki/botmakers.org/blob/master/Code%20of%20Conduct.md">Code of Conduct</a>.</em></strong></li>
    <li>Source of this page is <a href="https://github.com/botwiki/botmakers.org">available on GitHub</a>.</li>
    <li>Image courtesy of <a href="http://www.oldbookillustrations.com/">oldbookillustrations.com</a>.</li>
    <li>Any questions? Need help? Reach out to <a href="https://twitter.com/fourtonfish">@fourtonfish</a> or <a href="mailto:stefan@fourtonfish.com">stefan@fourtonfish.com</a>.</li>
  </ul>
</footer>